.home-page {

  .header {
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;    
  }
}

.home-page-header {
  height: 400px;
  padding: 60px 0 0;
  background: url('/images/bg-panorama-board.jpg') no-repeat top center;
  text-align: center;
  border-bottom: solid 1px #182f36;

  h1 {
    .font-headers;
    font-size: 48px;
    font-weight: normal;
    color: #fff;
    margin: 115px 0 51px;
    text-shadow: 1px 1px 1px #172d35;

    @media(max-width: @mobile) { margin: 55px 0; }
  }
}

.home-content {
  height: 439px;
  padding: 47px 0 0;
  background: url('../images/bg-chessboard.png');

  @media(max-width: @mobile) { height: auto; }

  h2 {
    color: #2e8097;
    .font-headers;
    font-weight: normal;
    font-size: 40px;
    text-align: center;
    margin: 0 0 30px;
  }
}

.home-benefits {
  text-align: center;
  margin: 0 0 45px;

  @media(max-width: @mobile) { margin: 0 0 20px; }

  li {
    width: 195px;
    display: inline-block;
    margin: 0 125px 0 0;

    @media(max-width: @tablet) { margin-right: 55px; }

    @media(max-width: @mobile) {
      width: 100%;
      margin: 0 0 20px;
    }

    &:last-child { margin-right: 0; }

    &:before {
      content: '';
      display: block;
      width: 140px;
      height: 140px;
      overflow: hidden;
      background: #2e8097;
      border: solid 5px #fff;
      border-radius: 70px;
      margin: 0 auto 20px;
      text-align: center;
      color: #fff;
      .font-icons2;
      position: relative;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }

    &.star {
      font-size: 89px;
      &:before {
        content: 'c';
        padding-top: 20px;
      }
    }

    &.move {
      font-size: 69px;
      &:before {
        content: 'a';
        padding-top: 32px;
      }
    }

    &.pawn {
      font-size: 100px;
      &:before {
        content: 'b';
        padding-top: 14px;
      }
    }
  }

  p {
    color: #2e8097;
    font-size: 24px;
    line-height: 27px;
    text-align: center;
  }
}

.home-facebook {
  text-align: center;

  @media(max-width: @mobile) { padding: 0 0 20px; }
}