.home-page {

  .header {
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;    
  }
}

.home-page-header {
  height: 400px;
  padding: 60px 0 0;
  background: url('/images/bg-panorama-board.jpg') no-repeat top center;
  text-align: center;
  border-bottom: solid 1px #182f36;

  h1 {
    .font-headers;
    font-size: 48px;
    font-weight: normal;
    color: #fff;
    margin: 115px 0 51px;
    text-shadow: 1px 1px 1px #172d35;
  }
}

.home-content {
  height: 439px;
  padding: 47px 0 0;
  background: url('../images/bg-chessboard.png');

  h2 {
    color: #2e8097;
    .font-headers;
    font-weight: normal;
    font-size: 40px;
    text-align: center;
    margin: 0 0 30px;
  }
}

.home-benefits {
  text-align: center;
  margin: 0 0 45px;

  li {
    width: 195px;
    display: inline-block;
    margin: 0 125px 0 0;

    &:last-child { margin-right: 0; }

    &:before {
      content: '';
      display: block;
      width: 130px;
      height: 130px;
      overflow: hidden;
      background: #2e8097;
      border: solid 5px #fff;
      border-radius: 70px;
      margin: 0 auto 20px;
    }
  }

  p {
    color: #2e8097;
    font-size: 24px;
    line-height: 27px;
    text-align: center;
  }
}

.home-facebook {
  text-align: center;
}