.results-left {
  float: left;
  width: 455px;
}

.results-right {
  float: right; 
  width: 431px;
}

.results-stats {
  margin: 28px 0 11px;

  .stats { margin: 0 0 20px; }
}

.result {
  padding: 27px 0 0;

  h1 {
    font-size: 20px;
    font-weight: normal;
    text-indent: 90px;

    &:before,
    &:after {
      content: '';
      display: inline-block;
      width: 16px;
      height: 0;
      border-top: solid 1px #252525;
      border-bottom: solid 1px #bfbfbe;
      position: relative;
      top: -4px;
    }

    &:before { left: -4px; }

    &:after { right: -4px; }
  }
}

.personality {
  .font-headers;
  font-size: 60px;
  color: #2e8097;
  margin: -27px 0 0 2px;

  &:before {
    content: '';
    display: inline-block;
    width: 130px;
    height: 130px;
    background: #2e8097;
    border: solid 5px #fff;
    border-radius: 70px;
    margin: 0 22px 0 0;
    position: relative;
    top: 54px;
    color: #fff;
    overflow: hidden;
    font-family: 'Icons';
  }
}

.results-content {
  padding: 47px 0 45px;
 
  h2 {
    .font-headers;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    color: #2e8097;
    margin: 0 0 26px;
  }
}

.results-recommendations {
  p {
    font-size: 20px;
    line-height: 30px;
    color: #182f36;
    margin: -3px 0 0;
  }
}

.friends {
  margin: 27px 0 0;

  h2 { margin: 0 0 9px; }

  p {
    line-height: 20px;
    margin: 0 0 18px;
  }
}

.friends-list {

  li { display: inline; }

  a {
    display: inline-block;
    width: 55px;
    height: 55px;
    overflow: hidden;
    text-indent: -999em;
    background: #e5e5e5;
    margin: 0 1px 0 0;
  }
}

.share-results{
  border-top: solid 1px #e5e5e5;
  background: url('/images/bg-chessboard.png');
  padding: 30px 0;
  font-size: 20px;

  .buttons-set {
    line-height: 60px;
    margin-left: 14px;
    position: relative;
    top: -2px;

    .icon {
      font-weight: normal;

      &.facebook { font-size: 41px; }

      &.twitter { font-size: 44px; }

      &.reddit { font-size: 49px; }

      &.gplus { font-size: 44px; }
    }
  }

  .button.orange { margin-right: 8px; }

  .results-left {
    text-align: center;
    
    & > span:first-child { line-height: 66px; }
  }

  .results-right {
    span { line-height: 66px; }
  }
}