<header class="header">

  <div class="container clearfix">

    <a href="/" class="logo to-left" title="Chess Personality">ChessPersonality</a>
    
    <ul class="header-socials to-right">
      <li><a href="#" title="Facebook" class="icon facebook"></a></li>
      <li><a href="#" title="Twitter" class="icon twitter"></a></li>
      <li><a href="#" title="Reddit" class="icon eddit"></a></li>
      <li ><a href="#" title="Google+" class="icon gplus"></a></li>
    </ul>
  
  </div>
  
</header>
