<header class="header">

  <div class="container clearfix">

    <a href="/" class="logo to-left" title="Chess Personality">ChessPersonality</a>
    
    <ul class="header-socials to-right">

      <li>
        <a ng-href="https://www.facebook.com/sharer/sharer.php?u=http://chesspersonality.com/" title="Share on Facebook" class="icon facebook" target="_blank"></a>
      </li>

      <li>
        <a ng-href="https://twitter.com/intent/tweet?url=http://chesspersonality.com" title="Share on Twitter" class="icon twitter" target="_blank"></a>
      </li>

      <li>
        <a ng-href="http://reddit.com/submit?url=http://chesspersonality.com" title="Share on Reddit" class="icon reddit" target="_blank"></a>
      </li>

      <li>
        <a ng-href="https://plus.google.com/share?url=http://chesspersonality.com" title="Share on Google+" class="icon gplus" target="_blank"></a>
      </li>

    </ul>
  
  </div>
  
</header>
