.button {
  display: inline-block;
  border-radius: 5px;
  border-width: 0 0 4px;
  border-style: solid;
  text-align: center;
  font-size: 28px;
  line-height: 60px;
  height: 60px;
  text-decoration: none;
  color: #fff;
  padding: 0 22px;
  font-weight: bold;
  margin: 0;
  cursor: pointer;

  &:active {
    border-bottom: none;
    padding-top: 4px;
  }

  &.large {
    font-size: 40px;
    line-height: 100px;
    height: 100px;
    padding-left: 52px;
    padding-right: 52px;
  }

  &.square {
    width: 60px;
    padding-left: 0;
    padding-right: 0;

    &.large { width: 100px; }
  }

  &.orange {
    background: #f26522;
    border-color: #dd4700;

    &:hover,
    &:focus {
      background: darken(#f26522, 5%);  
    }
  }

  &.red {
    background: #d24238;
    border-color: #a8352d;

    &:hover,
    &:focus {
      background: darken(#a8352d, 5%);  
    }
  }

  &.azure {
    background: #1caaed;
    border-color: #1688be;

    &:hover,
    &:focus {
      background: darken(#1688be, 5%);  
    }
  }

  &.blue {
    background: #4c6fa8;
    border-color: #3d5986;

    &:hover,
    &:focus {
      background: darken(#3d5986, 5%);  
    }
  }

  &.teal {
    background: #5c9ac6;
    border-color: #4a7b9e;

    &:hover,
    &:focus {
      background: darken(#4a7b9e, 5%);  
    }
  }

}

.buttons-set {
  display: inline-block;
  
  .button {
    vertical-align: top;
    border-radius: 0;
    margin-right: -5px;

    &:first-child {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    &:last-child {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
}