body {
  .font-default;
  font-size: 16px;
  color: #252525;
}

a {
  color: #2e8097;
  text-decoration: underline;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.container {
  max-width: 940px;
  padding: 0 10px;
  margin: 0 auto;

  &.narrow { width: 700px; }
}

.chessboard {
  background: url('/images/bg-chessboard.png');
}