.header {
  height: 60px;
  background: #182f36;
}

.logo {
  color: #fafafa;
  .font-headers;
  font-size: 30px;
  line-height: 60px;
  text-decoration: none;

  &:hover,
  &:focus { color: darken(#fafafa, 10%); }
}

.header-socials {

  li {
    display: inline-block;
    text-align: right;
    margin: 0 0 0 -3px;
  }
}