.header {
  height: 60px;
  background: #182f36;

  a {
    color: #fafafa;
    text-decoration: none;

    &:hover,
    &:focus { color: darken(#fafafa, 20%); }
  }

  @media(max-width: @mobile) { text-align: center; }
}

.logo {
  .font-headers;
  font-size: 30px;
  line-height: 60px;

  @media(max-width: @mobile) {
    display: block;
    text-align: center;
    float: none;
  }
}

.header-socials {
  
  li {
    display: inline-block;
    text-align: right;
    margin: 0 0 0 -4px;
  }

  .icon {
    display: inline-block;
    vertical-align: top;
    line-height: 57px;
    padding-bottom: 3px;

    &.facebook { font-size: 41px; }

    &.twitter { font-size: 44px; }

    &.reddit { font-size: 49px; }

    &.gplus { font-size: 44px; }
  }

   @media(max-width: @mobile) { display: none; }
}