.icon {
  .font-icons;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.twitter {
    &:before { content: 'F'; }
  }

  &.facebook {
    &:before { content: 'S'; }
  }

  &.facebook-square {
    &:before { content: 'D'; }
  }

  &.reddit {
    &:before { content: '±'; }
  }

  &.gplus {
    &:before { content: '®'; }
  }
}

