.slider {
  width: 820px;
  height: 210px;
  padding: 0 56px;
  margin: 0 auto;
  position: relative;

  .arrow {
    position: absolute;
    top: 57px;
    cursor: pointer;
    .font-icons;
    font-size: 78px;
    line-height: 34px;
    color: #c6c6c6;
    .selection(none);

    &:hover,
    &:focus {
      color: darken(#c6c6c6, 5%);
      text-decoration: none;
    }

    &.prev-slide { left: -8px; }

    &.next-slide { right: -8px; }
  }

  @media(max-width: @mobile) {
    width: 170px;
    max-width: 100%;
    margin: 0 auto;
  }
}

.slider-container {
  width: 793px;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;

  @media(max-width: @mobile) {
    width: 100%;
    max-width: 100%;
  }
}

.slider-list {
  width: 2700px;
  height: 100%;
      
  @media(max-width: @mobile) {
    width: 100%;
    max-width: 100%;
  }
}

.slider-list-item {
  display: inline-block;
  width: 130px !important;
  margin: 20px 30px 0 -4px;
  text-align: center;
  cursor: pointer;
  position: relative;
  vertical-align: top;

  &:first-child { margin-left: 0; }

  &.active {
    width: 170px !important;
    top: -20px;

    .slider-list-item-link {
      span { display: inline-block; }

      &:before {
        background: #2e8097;
        width: 170px;
        height: 170px;
        border-radius: 90px;
      }
    }
  }

  @media(max-width: @mobile) {
    display: none;

    &:nth-child(3) { display: inline-block; }
  }
}

.slider-list-item-link {
  display: block;
  
  span {
    display: none;
    color: #2e8097;
    font-size: 30px;
    .font-headers;
  }

  &:before {
    display: block;
    width: 130px;
    height: 130px;
    background: #c6c6c6;
    border: solid 5px #fff; 
    border-radius: 70px;
    margin: 0 auto 10px;
    .font-icons2;
    color: #fff;
    font-size: 84px;
    .box-sizing(border-box);
    padding-top: 24px;
  }

  &:hover,
  &:focus {
    text-decoration: none;
    &:before { background: #2e8097; }
  }

  &.anaconda { 
    &:before {
      content: 's';
      padding-top: 20px;

      .active & {
        font-size: 99px;
        padding-top: 32px;
      }
    }
  }

  &.assassin { 
    &:before {
      content: 't';
      font-size: 82px;
      padding-top: 22px;
      padding-left: 14px;

      .active & {
        font-size: 99px;
        padding-top: 31px;
        padding-left: 17px;
      }
    }
  }

  &.barbarian { 
    &:before {
      content: 'r';
      padding-top: 19px;

      .active & {
        font-size: 99px;
        padding-top: 28px;
      }
    }
  }

  &.champion { 
    &:before {
      content: 'q';

      .active & {
        font-size: 95px;
        padding-top: 34px;
      } 
    }
  }

  &.escape-artist { 
    &:before {
      content: 'p';
      padding-top: 17px;

      .active & {
        font-size: 100px;
        padding-top: 26px;
      } 
    }
  }

  &.genius { 
    &:before {
      content: 'm';
      padding-top: 16px;

      .active & {
        font-size: 99px;
        padding-top: 27px;
      }
    }
  }

  &.grinder { 
    &:before {
      content: 'n';
      font-size: 78px;

      .active & {
        font-size: 90px;
        padding-top: 34px;
      }
    }
  }

  &.mad-scientist { 
    &:before {
      content: 'o';
      padding-top: 12px;

      .active & {
        font-size: 105px;
        padding-top: 22px;
      }
    }
  }

  &.magician { 
    &:before {
      content: 'l';
      font-size: 86px;
      padding-top: 16px;

      .active & {
        font-size: 109px;
        padding-top: 26px;
      }
    }
  }

  &.prodigy { 
    &:before {
      content: 'k';

      .active & {
        font-size: 93px;
        padding-top: 36px;
      }
    }
  }

  &.natural { 
    &:before {
      content: 'j';
      font-size: 74px;
      padding-top: 22px;

      .active & {
        font-size: 94px;
        padding-top: 28px;
      }
    }
  }

  &.mastermind { 
    &:before {
      content: 'g';
      padding-top: 16px;

      .active & {
        font-size: 99px;
        padding-top: 27px;
      }
    }
  }

  &.professional { 
    &:before {
      content: 'h';

      .active & {
        font-size: 93px;
        padding-top: 36px;
      }
    }
  }

  &.romantic { 
    &:before {
      content: 'i';
      font-size: 77px;

      .active & {
        font-size: 93px;
        padding-top: 35px;
      }
    }
  }

  &.surgeon { 
    &:before {
      content: 'f';
      font-size: 70px;

      .active & {
        font-size: 80px;
        padding-top: 38px;
      }
    }
  }

  &.technician { 
    &:before {
      content: 'e';
      font-size: 76px;

      .active & {
        font-size: 90px;
        padding-top: 37px;
      }
    }
  }

}