  <div class="slider-container">

    <span class="arrow prev-slide" ng-click="changeSlide('prev');" ng-class="{disabled: currentSlide == 0}">,</span>
    <span class="arrow next-slide" ng-click="changeSlide('next');" ng-class="{disabled: currentSlide == maxSlide}">.</span>

    <ul rn-carousel class="slider" rn-carousel-index="currentSlide">

      <li class="slider-slide" ng-repeat="slideList in slidesList">
        
        <ul class="slider-slide-list">
          <li ng-repeat="slide in slideList track by $index" class="slider-slide-item" ng-class="{active: slide.url == currentUrl}">
            <a ng-href="/type/{{slide.url}}" class="slider-slide-item-link {{slide.url}}" title="{{slide.type}}">
              <span>{{slide.type}}</span>
            </a>
          </li>
        </ul>

      </li>

    </ul>

  </div>