  <div class="slider">
  
    <span class="arrow prev-slide" ng-click="changeSlide('prev');" ng-class="{disabled: currentSlide == 0}">,</span>
    <span class="arrow next-slide" ng-click="changeSlide('next');" ng-class="{disabled: currentSlide == maxSlide}">.</span>
    
    <div class="slider-container">

      <ul class="slider-list">

        <li class="slider-list-item" ng-repeat="slide in slides" ng-class="{active: $index == 2}">
          <a ng-href="/type/{{slide.url}}" class="slider-list-item-link {{slide.url}}" title="{{slide.type}}">
            <span>{{slide.type}}</span>
          </a>
        </li>

      </ul>
    
    </div>

  </div>