<div class="home-page-header">
  
  <div class="container">
    <h1>What kind of chess player are you?</h1>
    <a href="/test" title="Take test" class="button large orange">Take Test</a>
  </div>

</div>

<div class="home-content">
  
  <div class="container">
  
    <h2>Answer 20 questions and find out:</h2>

    <ul class="home-benefits">
    
      <li class="move">
        <p>Best openings for&nbsp;your style</p>
      </li>

      <li class="pawn">
        <p>Which friends are most like you</p>
      </li>

      <li class="star">
        <p>Which master are you most like</p>
      </li>

    </ul>
    
    <div class="home-facebook">
      <div class="fb-like" data-href="http://chess.com" data-width="255" data-layout="standard" data-action="like" data-show-faces="true" data-share="false"></div>
    </div>
    
  </div>

</div>



<div id="fb-root"></div>
<script>
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>