<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <title></title>
  <link href="http://fonts.googleapis.com/css?family=Oleo+Script:400,700" rel="stylesheet"/>
  {{styles('style')}}
</head>
<body class="home-page">
  {{include('_header.html')}}
  
  <div class="home-page-header">
    
    <div class="container">
      <h1>What kind of chess player are you?</h1>
      <a href="#" title="Take test" class="button large orange">Take Test</a>
    </div>

  </div>

  <div class="home-content chessboard">
    
    <div class="container">
    
      <h2>Answer 20 questions and find out:</h2>

      <ul class="home-benefits clearfix">
      
        <li>
          <p>Best openings for&nbsp;your style</p>
        </li>

        <li>
          <p>Which friends are most like you</p>
        </li>

        <li>
          <p>Which master are you most like</p>
        </li>

      </ul>

    </div>

  </div>

  {{include('_footer.html')}}
</body>
</html>