<!doctype html>
<html ng-app="ChessPersonality">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <title>Chess Personality</title>
  <link href="http://fonts.googleapis.com/css?family=Oleo+Script:400,700" rel="stylesheet"/>
  {{styles('style')}}
</head>
<body>
  {{include('partials/_header.html')}}
  
  <div class="content" ng-view></div>

  {{include('partials/_footer.html')}}

  {{scripts([
    'vendor/jquery/jquery.min',
    'vendor/angular/angular.min',
    'vendor/angular-route/angular-route.min',
    'vendor/angular-resource/angular-resource.min',
    'app',
    'controllers/test',
    'controllers/results',
    'directives/progress/progress',
    'directives/stats/stats'
  ])}}
  
</body>
</html>