<!doctype html>
<html ng-app="ChessPersonality">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <title>Chess Personality</title>
  <link href="http://fonts.googleapis.com/css?family=Oleo+Script:400,700" rel="stylesheet"/>
  {{styles('style')}}
</head>
<body>
  {{include('_header.html')}}
  
  <div class="content" ng-view></div>

  {{include('_footer.html')}}

  {{scripts([
    '/vendor/jquery/jquery.min',
    '/vendor/angular/angular.min',
    '/vendor/angular-route/angular-route.min',
    '/vendor/angular-resource/angular-resource.min',
    '/scripts/app',
    '/scripts/controllers/test',
    '/scripts/controllers/results',
    '/scripts/directives/progress',
    '/scripts/directives/stats'
  ])}}
</body>
</html>