<section class="top personalities-header">
  <h1 class="personalities-header-title" ng-show="afterTest">— Your Chess Personality —</h1>
  <personalities-slider slides="personalities"></personalities-slider>

</section>

<section class="results-content">

  <div class="container clearfix">
  
    <div class="bio column-left">
      
      <p>
        Anatoly Karpov was a guy who played chess. Anatoly Karpov was a guy who played chess. Anatoly Karpov was a guy who played chess. Anatoly Karpov was a guy who played chess. Anatoly Karpov was a guy who played chess. Anatoly Karpov was a guy who played chess. Anatoly Karpov was a guy who played chess. Anatoly Karpov was a guy who played chess. Anatoly Karpov was a guy who played chess.
        Anatoly Karpov was a guy who played chess. Anatoly Karpov was a guy who played chess. Anatoly Karpov was a guy who played chess. Anatoly Karpov was a guy who played chess.
      </p>

      <h1>{{personality.player}} is a {{personality.type}}</h1>

      <p>
        <img ng-src="/images/players/{{personality.image}}" alt="{{personality.player}}" width="140" height="140" />
        Anatoly Karpov was a guy who played chess. Anatoly Karpov was a guy who played chess. Anatoly Karpov was a guy who played chess. Anatoly Karpov was a guy who played chess. Anatoly Karpov was a guy who played chess. Anatoly Karpov was a guy who played chess. Anatoly Karpov was a guy who played chess. Anatoly Karpov was a guy who played chess. Anatoly Karpov was a guy who played chess.
        Anatoly Karpov was a guy who played chess. Anatoly Karpov was a guy who played chess. Anatoly Karpov was a guy who played chess. Anatoly Karpov was a guy who played chess.
      </p>
      
      <p class="more">
        <a ng-href="{{personality.link}}" title="Explore {{personality.lastName}}'s Games">
          Explore {{personality.lastName}}'s Games
        </a>
      </p>

    </div>

    <div class="column-right">

      <score-stats label-left="Attacking" label-right="Positional" score="scores.positional"></score-stats>
      <score-stats label-left="Aggressive" label-right="Solid" score="scores.solid"></score-stats>
      <score-stats label-left="Intuitive" label-right="Calculating" score="scores.calculating"></score-stats>
      <score-stats label-left="Emotional" label-right="Calm" score="scores.calm"></score-stats>
      
      <div ng-show="afterTest">
        <h2>Share Your Results:</h2>
        
        <div class="buttons-set share-buttons">
          <a href="#" title="Share on Facebook" class="square blue button">
            <span class="icon facebook"></span>
          </a>
          <a href="#" title="Share on Twitter" class="square azure button">
            <span class="icon twitter"></span>
          </a>
          <a href="#" title="Share on Reddit" class="square teal button">
            <span class="icon reddit"></span>
          </a>
          <a href="#" title="Share on Google+" class="square red button">
            <span class="icon gplus"></span>
          </a>
        </div>
      </div>

      <h2>Recommended Openings</h2>

      <ul class="openings">

        <li>
          White:
          <span ng-repeat="opening in personality.openingsWhite">
            <a ng-href="{{opening.link}}" title="{{opening.label}}" ng-bind-template=" {{opening.label}}"></a><span ng-show="{{$index < (personality.openingsWhite.length - 1)}}">;</span>
          </span>
        </li>
        
        <li>
          Black:
          <span ng-repeat="opening in personality.openingsBlack">
            <a ng-href="{{opening.link}}" title="{{opening.label}}" ng-bind-template=" {{opening.label}}"></a><span ng-show="{{$index < (personality.openingsBlack.length - 1)}}">;</span>
          </span>
        </li>

      </ul>

      <h2>These friends have this Chess Personality:</h2>

    </div>

  </div>

</section>

<div class="results-action">

  <div class="container">

    <p class="play-chess" ng-show="afterTest">
      Ready for game?
      <a href="http://chess.com" class="orange button" title="Play Chess">Play Chess</a>
      free on the #1 chess site.
    </p>
  
    <p class="take-test" ng-hide="afterTest">
      What kind of hess player are you?
      <a href="/test" class="orange button" title="Take the Quiz">Take the Quiz</a>
      Find best openings and like players.
    </p>

  </div>

</div>

